.dbug {
    border: 1px solid red;
}

body {
    background-color: #E5E5E5;
}

main {
    background-color: #E5E5E5;
    height: 1200px;
}

.logoBTN {
    background-color: #E5E5E5;
    border: none;
}

#logo {
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
    color: #00517B;
    margin-right: auto;
}

#logo h3 {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.navMenu ul {
    display: flex;
    margin: 10px 0 0 10px;
    padding: 0;
}

.navMenu li {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    padding-right: 15px;
}

a {
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

a:hover {
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #000000de,
        0 0 11px #00517B,
        0 0 19px #00517B,
        0 0 40px #006293,
        0 0 80px #0072AC,
        0 0 90px #0072AC,
        0 0 100px #0082C4,
        0 0 150px #0082C4;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

#mainMessage {
    font-family: 'Rock Salt', cursive;    
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 10px;
    color: #00517B;
}

#myName {
    animation: flicker 2s infinite alternate; 
    letter-spacing: 7px;
    font-size: 9em;
    padding: 0;
    margin: 0;
}

#title {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 3em;
    padding: 0;
    margin: 0;
    font-weight: 900;
    word-spacing: 8px;
    letter-spacing: 2px;
}

/*About Section*/

section {
    font-family: 'Rock Salt', cursive;
    position: relative;
    margin: 0 16% 0 21%;
    height: 1000px;
    background-color: whitesmoke;
}

h2 {
    padding-left: 25px;
    font-size: 5em;
}

.about p {
    font-family: 'Roboto Condensed', sans-serif;

}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    padding: 10px 5%;
}