.debug {
    border: 1px solid red;
}

#logo {
    width: 100px;
    height: auto;
}

#navMenu ul {
    display: flex;
    margin: 10px 0 0 10px;
    padding: 0;
}

#navMenu li {
    font-family: 'Roboto Condensed', sans-serif;;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 2px;
    list-style: none;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

#mainMessage {
    font-family: 'Rock Salt', cursive;
    position: absolute;
    top: 30%;
    left: 23%;
    padding: 10px;
}

#myName {
    font-size: 8em;
    padding: 0;
    margin: 0;
}

#title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    word-spacing: 8px;
    letter-spacing: 2px;
}